
<%- include('../partials/modal/modalPart1') %>

<div class="row">

            <div class="col-md-12">
                    <div id="cidades" class="mb-3">
                        <label>Cidade</label>
                        <select name="cidade" class="form-control" id="cidade" aria-label="Default select example"></select>
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Gerente</label>
                        <select name="gerente" class="form-control" id="gerente" aria-label="Default select example"></select>
                    </div>

                    <div class="mb-3">
                        <label>Endereço</label>
                        <input name="endereco" type="text" class="form-control">
                        <div class="form-text">(Numero / Rua)</div>
                    </div>

                    <div class="mb-3">
                        <label>Bairro</label>
                        <input name="bairro" type="text" class="form-control">
                    </div>


                    <div class="mb-3">
                        <label>CEP</label>
                        <input name="cep" type="text" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label>Telefone</label>
                        <input name="telefone" type="number" class="form-control">
                    </div>
            </div>
    </div>


    <%- include('../partials/modal/modalPart2') %>

        <script>

            $('#cidade').on('click', function () {
                $.ajax({
                    method: 'GET',
                    url: '/get_cidade',
                }).done(function (response) {
                    $('#cidade option').remove()
                    response.forEach(element => {
                        let option = `<option value="${element.cidade_id}">${element.cidade} </option>`
                        $('#cidade').append(option)
                    })
                })
            });

            $('#gerente').on('click', function () {
                $.ajax({
                    method: 'GET',
                    url: '/get_gerentes',
                }).done(function (response) {
                    $('#gerente option').remove()
                    response.forEach(element => {
                        let option = `<option value="${element.funcionario_id}">${element.primeiro_nome} ${element.ultimo_nome}</option>`
                        $('#gerente').append(option)
                    })
                })
            });



        </script>

</form>