<%- include('../partials/layoutPart1') %>
    <div class="row">

        <div class="col-md-12">

            <div class="card">
                <div class="card-header">
                    <div class="card-tools">
                        <button type="button" class="btn btn-primary" >
                            <i class="fas fa-plus"></i>
                            Adicionar Loja
                            </button>
                    </div>
                </div>
                <div class="card-body"></div>
                <div class="card-footer"></div>
            </div>
        </div>

    </div>

<%- include('../partials/layoutPart2') %>